footer.container.py-5
     .row
          .col-md-6
               nav.nav.justify-content-center.justify-content-md-start
                    a(href="/nosotros", class="nav-link") Nosotros
                    a(href="/testimoniales", class="nav-link") Testimonios
                    a(href="/maquinaria", class="nav-link") Maquinaria
                    a(href="/Noticias", class="nav-link") Noticias
          .col-md-6
               p.copyright.text-center.text-md-right
                    | Todos los Derechos Reservados 
                    span= fechaActual